API_FRONT=your-frontend-url
JWT_SECRET=your-jwt-secret

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your email
SMTP_PASSWORD=your api password
STRIPE_SECRET_KEY=sk_test_BEIUFG947T4298UFBI758OBF7O8248
SENDGRID_API_KEY=SG.BFEOIUWQFBIEFUBEOQEIBVQOE3425243
MONGO_URI=mongodb+srv://root:****@database...